- if @matches.nil? or @matches.empty?
  .text-center
    %h2
      No matches :(
    %h4
      Be sure to check back soon
- else
  .text-center
    %h2 Your matches
    %h4
      You are trying to swap to:
      = current_user.destination_summary
  - @matches.each do |match|
    %ul.list-group.col-md-8.col-md-offset-2
      = render partial: 'users/match', :locals => {:match => match}
