- if @matches.empty?
  .text-center
    %h2
      No matches :(
    %h4
      Be sure to check back soon
- else
  %h2.text-center Your matches!
  - @matches.each do |match|
    %ul.list-group.col-md-8.col-md-offset-2
      = render partial: 'users/match', :locals => {:match => match}
