.col-md-6.col-md-offset-3.text-center
  %h3
    = @user.full_name
  %h4
    = @user.email
  %br
  %h3
    Lives in
  %h4
    = @user.origin_building_campus
  %br
  %h3
    Wants to live in
  %h4
    = @user.destination_building_campus
