%h2.text-center Help
%h4.text-center
  Swapsniper helps students who want to change rooms swap with another student
%h4.text-center
  To begin, sign up for an account
%h4.text-center
  Swapsniper will then match you with students who:
%h5.text-center
  Live where you want to live and
%h5.text-center
  Want to live where you live
