%h2.text-center Help
.text-center
  %h4
    Swapsniper helps students who want to change rooms match with another student to swap with.
  %h4
    To begin, sign up for an account.
  %h4
    Swapsniper will then match you with students who:
  %h5
    Live where you want to live and
  %h5
    Want to live where you live
%br
%h5.text-center
  If you have any problems, suggestions, or find any bugs, please email me at
  = mail_to "contact.swapsniper@gmail.com"
