.col-md-6.col-md-offset-3
  %h2.text-center Help
  %br
  .text-left
    %h4
      Swap Sniper helps students looking to change their room assignment by matching them with another student who also wants to swap.
    %h4
      To begin,
      = link_to t(".sign_up"), sign_up_path
      for an account.
    %h4
      Swap Sniper will then match you with students who:
    %h4
      Live where you want to live
    %h4
      and
    %h4
      Want to live where you live
    %h4
      Once you've swapped you can deactivate your account by going to your profile and clicking "Deactivate my account"
    %br
    %h4
      More information on how to swap rooms at Rutgers can be found
      = link_to "here", "http://ruoncampus.rutgers.edu/on-campus-life/service/changing-rooms/room-swap/"
    %br
    %h4
      If you have any problems, suggestions, or find any bugs, please email me at
      = mail_to "contact.swapsniper@gmail.com"
    %h4
      Terms of Service can be found
      = link_to "here", tos_path

