%h2.text-center Terms of Service
%h4.text-center.col-md-6.col-md-offset-3
  You, the user, are responsible for all room swaps made and will make sure that you and the student you are swapping with comply with all University rules and regulations surrounding room swaps.
  Further information on University rules regarding swapping rooms can be found
  = link_to "here.", "http://ruoncampus.rutgers.edu/on-campus-life/service/changing-rooms/"
